<center>
<h1> Welcome to the Catering App! </h1>
<h2><%= link_to 'View Menu!', menus_path %></h2>
<h2><%= link_to 'New Order!', orders_new_path %></h2>
<h2><%= link_to 'View Order!', orders_show_path %></h2>
</center>