<div class="ui menu">
    <div class="teal item">
        <%= link_to 'Admin', admin_path %>
    </div>
    <div class="teal item">
        <%= link_to 'Orders', orders_path %>
    </div>
     <div class="teal item">
        <%= link_to 'Back to Index!', root_path %>
    </div>
</div>